@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*::after, *::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

header {
  border-bottom: 1px solid #ececec;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

hr {
  border-radius: 4px;
  height: 2px;
  border: 1px solid #ffffff;
  opacity: 0.5;
}

.section {
  padding: 15px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  margin: 0 0 50px 0;
}

.title--no-margin {
  margin: 0;
}

header {
  background-color: #302e2e;
}

.links {
  display: none;
}
@media screen and (min-width: 768px) {
  .links {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .links {
    display: flex;
  }
}

.links li:not(:last-child) {
  margin-right: 50px;
}

.links li a {
  padding: 5px 0;
  display: block;
}

.links__item {
  color: #cdc5c5;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.links__item:hover, .links__item:focus {
  color: #ffffff;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .nav-container {
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-info {
  display: none;
}
.nav-info li a {
  display: flex;
}
.nav-info li:last-child {
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .nav-info li:last-child {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .nav-info li:last-child {
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .nav-info {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .nav-info {
    display: flex;
    flex-direction: row;
  }
}

.nav__logo {
  color: #ffffff;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  margin-right: 100px;
}

.nav-info__text {
  color: #cdc5c5;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  display: block;
  padding: 20px 0;
  transition: 250ms;
  transition-property: color, fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-info__text:hover, .nav-info__text:focus {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .nav-info__text {
    padding: 10px 0;
  }
}
@media screen and (min-width: 1200px) {
  .nav-info__text {
    padding: 14px 0;
  }
}

.nav-info__text svg {
  fill: currentColor;
  margin-right: 10px;
}

.current {
  color: #ffffff;
  position: relative;
}

.current::after {
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.mobile-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 767px) {
  .mobile-menu-button {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
}

.burger-icon:hover,
.burger-icon:focus {
  fill: #51c5e8;
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu__container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-menu__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
  transition: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__close-button:hover .mobile-menu__close-icon, .mobile-menu__close-button:focus .mobile-menu__close-icon {
  fill: #51c5e8;
  cursor: pointer;
}
.mobile-menu__close-icon {
  fill: #212121;
}
.mobile-menu__item {
  margin-bottom: 32px;
}
.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.77;
  letter-spacing: 0.02em;
  color: #212121;
  transition: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #51c5e8;
  cursor: pointer;
}
.mobile-menu__contact-list {
  margin-bottom: 64px;
}
.mobile-menu__contact-item {
  margin-bottom: 32px;
}
.mobile-menu__phone-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  transition: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__phone-link:hover, .mobile-menu__phone-link:focus {
  color: #51c5e8;
  cursor: pointer;
}
.mobile-menu__email-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  transition: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__email-link:hover, .mobile-menu__email-link:focus {
  color: #212121;
  cursor: pointer;
}
.mobile-menu__social-list {
  display: flex;
  align-items: center;
}
.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #51c5e8;
  transition: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__social-link:hover, .mobile-menu__social-link:focus {
  color: #39869d;
  cursor: pointer;
}
.mobile-menu__social-item {
  display: flex;
  align-items: center;
}
.mobile-menu__social-item:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 22px;
  display: block;
  background: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
  margin-right: 10px;
}

.hero {
  background-image: url(https://images.pexels.com/photos/10320872/pexels-photo-10320872.jpeg);
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.hero__content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__title {
  margin: 0 0 10px 0;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
  }
}

.hero__description {
  margin: 0 0 10px 0;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .hero__description {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__description {
    font-size: 24px;
  }
}

.hero__button {
  background-color: #51c5e8;
  padding: 10px 20px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 30px;
  transition: 250ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover {
  background-color: #39869d;
}

.hero__card {
  background-color: rgba(29, 39, 38, 0.4);
  width: fit-content;
  height: fit-content;
  text-shadow: 1px 1px 1px black;
  border-radius: 5px;
  padding: 3rem 3rem;
}
@media screen and (min-width: 768px) {
  .hero__card {
    padding: 3rem 7rem;
  }
}
@media screen and (min-width: 1200px) {
  .hero__card {
    padding: 3rem 10rem;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 30px;
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: 270px;
  }
}

.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
}

.benefits__image {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 480px) {
  .benefits__image {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__image {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__image {
    width: 270px;
  }
}
.benefits__image svg {
  align-items: center;
}

.benefits__description {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-family: "Roboto";
}

.wwd_section {
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 768px) {
  .wwd_section {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .wwd_section {
    display: block;
  }
}

.wwd__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  margin: 0 0 50px 0;
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .wwd__title {
    visibility: visible;
  }
}
@media screen and (min-width: 1200px) {
  .wwd__title {
    visibility: visible;
  }
}

.wwd__container {
  display: none;
}
.wwd__container li {
  position: relative;
}
.wwd__container li:not(:last-child) {
  margin-right: 30px;
}
@media screen and (min-width: 768px) {
  .wwd__container {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .wwd__container {
    display: flex;
    justify-content: center;
  }
}

.wwd__text {
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0%;
  z-index: 2;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  display: block;
  padding: 27px 0;
}

.our-team {
  display: block;
}
@media screen and (min-width: 768px) {
  .our-team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .our-team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.our-team {
  margin-top: -30px;
  margin-left: -30px;
}
.our-team img {
  width: 100%;
}
.our-team .our-team__card {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% - 30px);
}
@media screen and (min-width: 768px) {
  .our-team .our-team__card {
    flex-basis: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .our-team .our-team__card {
    flex-basis: calc(25% - 30px);
  }
}

.our-team__card {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.our-team__image {
  margin-bottom: 30px;
}

.our-team__name {
  text-align: center;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.our-team__title {
  text-align: center;
  color: #757575;
  margin: 0 0 16px 0;
}

.our-team__item:not(:last-child) {
  margin-right: 10px;
}

.our-team__social {
  display: flex;
}

.our-team__link {
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 100%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: 250ms;
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team__link:hover, .our-team__link:focus {
  background-color: #51c5e8;
  color: #ffffff;
}

.our-team__link svg {
  fill: currentColor;
}

.our-team__section {
  background-color: #f1f2f2;
}

.our-team__content {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.customer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.customer__container {
  margin-top: -30px;
  margin-left: -20px;
}
.customer__container li {
  margin-top: 20px;
  margin-left: 20px;
  flex-basis: calc(50% - 30px);
}
@media screen and (min-width: 768px) {
  .customer__container li {
    flex-basis: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .customer__container li {
    flex-basis: calc(16.6666666667% - 30px);
  }
}

.customer__logo {
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 92px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: 250ms;
  transition-property: border-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customer__logo:hover, .customer__logo:focus {
  color: #51c5e8;
  border-color: #51c5e8;
}
.customer__logo svg {
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .customer__logo {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .customer__logo {
    width: 100%;
  }
}

.customer-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.backdrop {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-right: 15px;
  padding-left: 15px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  padding: 40px;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .modal {
    padding-left: 5em;
    padding-right: 5em;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    padding-left: 10em;
    padding-right: 10em;
  }
}

.modal__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 34px;
}

.modal__button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 250ms;
  transition-property: border-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--form-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__button:hover, .modal__button:focus {
  border: 1px solid #51c5e8;
  color: #51c5e8;
  cursor: pointer;
}
.modal__button svg {
  fill: currentColor;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service__input {
  color: #000000;
  padding: 12px 40px;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms;
  transition-property: color, border-color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.service__input:hover, .service__input:focus-visible {
  outline: none !important;
  border-color: #51c5e8;
  color: #000000;
}
.service__input:hover .service__icon, .service__input:focus-visible .service__icon {
  outline: none !important;
  color: #51c5e8;
  fill: #51c5e8;
}

.service__label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  width: 100%;
  color: #757575;
}
.service__label:hover .service__icon, .service__label:focus .service__icon {
  fill: #51c5e8;
}

.service__name {
  position: absolute;
  top: -18px;
}

.service__button {
  background-color: #51c5e8;
  padding: 10px 80px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  line-height: 30px;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  transition: 250ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.service__button:hover {
  background-color: #39869d;
}

.service__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service__textarea {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms;
  transition-property: color, border-color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 16px;
  resize: none;
}
.service__textarea:hover, .service__textarea:focus {
  outline: none !important;
  border-color: #51c5e8;
}

.service__checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.service__checkbox-label .service__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.service__checkbox-label .icon {
  fill: none;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service__checkbox-label .service__checkbox:checked + .icon {
  background-color: #51c5e8;
  border-color: #51c5e8;
  fill: #ffffff;
  outline: none;
  stroke: #ffffff;
  stroke-width: 0.2;
}

.service__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 7px;
}

.textarea {
  margin-bottom: 20px;
}

.product-section {
  padding: 94px 0;
}

.product-section__container {
  width: 350px;
}
@media screen and (min-width: 480px) {
  .product-section__container {
    width: 402px;
  }
}
@media screen and (min-width: 768px) {
  .product-section__container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .product-section__container {
    width: 1200px;
  }
}

.products__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.products__list li:not(:last-child) {
  margin-right: 10px;
}

.products__button {
  background-color: #f5f4fa;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  padding: 6px 26px;
  margin: 7px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  line-height: 26px;
  transition: 250ms;
  transition-property: background-color, color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.products__button:hover, .products__button:active {
  background-color: #51c5e8;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.products__button--active {
  background-color: #51c5e8;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.job__card {
  background-color: #51c5e8;
  line-height: 16px;
  padding: 63px 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: #ffffff;
  fill: #ffffff;
}

.job__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
}

.job__subheading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
}

.job__point {
  list-style-type: disc;
  margin-left: 1em;
}

.job__description {
  font-weight: 400;
  font-size: 14px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects__content {
  padding: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  z-index: 2;
}

.projects__card {
  cursor: pointer;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% - 30px);
  transition: 250ms;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__card:hover .projects__overlay, .projects__card:focus .projects__overlay {
  top: 0%;
}
@media screen and (min-width: 768px) {
  .projects__card {
    flex-basis: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .projects__card {
    flex-basis: calc(33.3333333333% - 30px);
  }
}

.projects__name {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.projects__description {
  font-size: 16px;
  color: #757575;
  margin: 0;
}

.projects__container {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  z-index: 2;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  padding: 63px 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  width: 100%;
  display: block;
  height: 100%;
  top: 100%;
  background: #51c5e8;
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card-overlay {
  position: relative;
  top: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0px;
  top: -95%;
  background: #51c5e8;
  transition-property: height;
  transition-duration: 200ms;
  transition-timing-function: linear;
  transition-delay: 0;
  font-size: 0;
  padding-left: 24px;
  padding-right: 24px;
}

.project-card-overlay-text {
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__list {
  font-style: normal;
}
.footer__list li:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .footer__list li:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__list li:not(:last-child) {
    margin-bottom: 5px;
  }
}

.footer__address {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address:focus, .footer__address:hover {
  color: #ffffff;
}

.footer__email {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__email:focus, .footer__email:hover {
  color: #ffffff;
}

.footer__info {
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__info:focus, .footer__info:hover {
  color: #ffffff;
}

.footer__content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__content {
    display: flex;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__content {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
  }
}

.footer__logo {
  color: #51c5e8;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}

.social__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 48px;
  margin-bottom: 20px;
  display: block;
}
@media screen and (min-width: 768px) {
  .social__text {
    margin: 20px 0;
  }
}
@media screen and (min-width: 1200px) {
  .social__text {
    margin: 10px 0;
  }
}

.social-content {
  margin-left: 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .social-content {
    text-align: center;
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .social-content {
    text-align: left;
  }
}

.social__container {
  display: flex;
  justify-content: space-around;
}
.social__container img {
  color: #ffffff;
}

.social__image {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 100%;
  padding: 12px 12px;
  transition: 250ms;
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__image:hover, .social__image:focus {
  background-color: #51c5e8;
  cursor: pointer;
}
.social__image svg {
  fill: #ffffff;
}

.newsletter {
  margin-left: 0;
  margin-top: 50px;
  text-align: center;
}
.newsletter .social__text {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .newsletter {
    margin-left: 0;
    margin-top: 50px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter {
    margin-left: 90px;
    margin-top: 0;
    text-align: left;
  }
}

.newsletter__container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .newsletter__container {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter__container {
    margin-top: 0;
  }
}

.newsletter__form {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .newsletter__form {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter__form {
    flex-direction: row;
  }
}

.newsletter__button {
  background-color: #51c5e8;
  width: 200px;
  padding: 10px 40px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  line-height: 30px;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  transition: 250ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter__button:hover, .newsletter__button:focus {
  cursor: pointer;
  background-color: #39869d;
}

.newsletter__input {
  background-color: #2f303a;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 347px;
  height: 50px;
  margin-right: 12px;
  padding-left: 10px;
  transition: 250ms;
  transition-property: border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter__input:hover, .newsletter__input:focus {
  outline: none;
  border-color: #ffffff;
}

.newsletter__button svg {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */