@import "../utils/vars.scss";
@import "../utils/breakpoints";

.social__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-color;
  margin-top: 48px;
  margin-bottom: 20px;
  display: block;
  @media screen and (min-width: $tablet) {
    margin: 20px 0;
  }
  @media screen and (min-width: $desktop) {
    margin: 10px 0;
  }
}
.social-content {
  margin-left: 0;
  text-align: center;
  @media screen and (min-width: $tablet) {
    text-align: center;
    margin-left: 0;
  }
  @media screen and (min-width: $desktop) {
    text-align: left;
  }
}

.social__container {
  display: flex;
  justify-content: space-around;
  img {
    color: $secondary-color;
  }
}

.social__image {
  display: flex;
  justify-content: center;
  background-color: $social-img-background-color;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  padding: 12px 12px;
  transition: 250ms;
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__image {
  &:hover,
  &:focus {
    background-color: $primary-color;
    cursor: pointer;
  }
  svg {
    fill: $secondary-color;
  }
}
