@import "../utils/vars.scss";

.wwd_section {
  padding-top: 0;
  display: none;
  @media screen and (min-width: $tablet) {
    display: none;
  }
  @media screen and (min-width: $desktop) {
    display: block;
  }
}
.wwd__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  margin: 0 0 50px 0;
  visibility: hidden;
  @media screen and (min-width: $tablet) {
    visibility: visible;
  }
  @media screen and (min-width: $desktop) {
    visibility: visible;
  }
}

.wwd__container {
  display: none;
  li {
    position: relative;
  }
  li:not(:last-child) {
    margin-right: 30px;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
  }
}

.wwd__text {
  background: $wwd-text-color;
  position: absolute;
  bottom: 0%;
  z-index: 2;
  color: $secondary-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  display: block;
  padding: 27px 0;
}
